*{
    padding: 0px;
    margin: 0px;
   
    color: aliceblue;
}
body{
 background-color: rgb(40, 48, 48);
}
/* navbar */
.navbar{
    width: 100%;
    background-color:rgb(8, 180, 146) ;
    display: flex;
    justify-content: space-around;
    height: 90px;
    align-items: center;

}
/* call the menu in the css */
.menu{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    background-color: rgb(8, 180, 145);
}
/* button */
.button{
 height: 35px;
 padding: 10px;
 border: 1px solid black;
 background-color: transparent;
 border-radius: 10px;
}
.button:hover{
    background-color:rgb(146, 205, 199) ;
    color: antiquewhite;
}
/* menu */
li:hover{
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(132, 219, 187);
    padding: 4px;
    border-radius: 10px;
    background-color: aquamarine;
}
/* this is the hefro section */
.hero{
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 20px;

}
.text{
    display: flex;
    flex-direction: column;
    border: 1px;
    gap: 10px;
    width: 500px;
   
}
.image img{
    width: 300px;
    height: 390px;
    border: 1px solid rgb(9, 9, 10);
    border-radius: 10px;
    
}
.Contact{
display: flex;
height: 35px;
width: 200px;
 padding: 10px;
 border: 1px solid rgb(10, 1, 16);
 background-color: transparent;
 border-radius: 10px;
 margin: 5px;
}
.Contact:hover{
   cursor: pointer;
    color: aliceblue;
    border: 1px solid black;
    background-color: rgb(132, 219, 187);
    padding: 10px;
    border-radius: 10px; 
    
}
/* this is the services section */
.heading{
    text-align: center;
    font-weight: bold;
}
.services{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
   
}
.box{
    border: 2px solid rgb(13, 8, 1);
    width: 350px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;  
}
h3{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* end of service section */


/* this is the about me section */
.about-me{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
    

}
.about{
       
     display: flex;
     justify-content: center;
     padding: 30px;
     width: 100%;
     gap: 70px;
}
.about div{
    margin: 1px;
    width: 50%;
    align-items: center;

}
.text-p{
width: 500px;
margin: 10px;
padding: 20px;

}
.skills button{
    
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
}
.skills :hover{
    color: aliceblue;
    border: 1px solid black;
    background-color: rgb(132, 219, 187);
    padding: 20px;
    border-radius: 10px;
}
/* end pf the about me section */